
<div class="col-md-2 sidebar">
  <h4 class="text-white text-center">Admin Panel</h4>
  <a href="/admin" class=""><i class="fas fa-home me-2"></i>Dashboard</a>
  <a href="/admin/products"><i class="fas fa-box me-2"></i>Products</a>
  <a href="/admin/addProduct"><i class="fas fa-box me-2"></i>Add Product</a>
  <a href="/admin/orders"><i class="fas fa-shopping-cart me-2"></i>Orders</a>
  <a href="/admin/users"><i class="fas fa-users me-2"></i>Customers</a>
  <a href="#"><i class="fas fa-comments me-2"></i>Reviews</a>
  <a href="/admin/category"><i class="fas fa-chart-line me-2"></i>Category</a>
  <a href="/admin/brand"><i class="fas fa-cog me-2"></i>Brands</a>
  <a href="/admin/logout"><i class="fas fa-cog me-2"></i>LogOut</a>
    <a href="/admin/coupons"><i class="fas fa-cog me-2"></i>Coupons</a>
</div>
